<?php
// Base of Global identities configuration settings on $config variable to redistribute
$config = array(
	'database'=>array(
        'user'=>'username',
        'password'=>'password',
        'host'=>'localhost',
        'database'=>'usuarios'
    ),
    'repository'=>'db|txt|gd',
    'layout'=>'dashboard'
);
