<?php

$config = array(
	'database'=>array(
        'user'=>'username',
        'password'=>'password',
        'host'=>'host',
        'database'=>'database'
    ),
    'layout'=>'dashboard',
    'default_controller'=>'Controller',
    'default_action'=>'action',
);
